.gotoLoginButton {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.gotoLoginButton:hover {
    background-color: #45a049;
}

.gotoRegisterButton {
    width: 25%;
    background-color: #49afd7;
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.gotoRegisterButton:hover {
    background-color: #2ba2b7;
}
