.input-container {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: -moz-inline-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container:focus {
    border: 3px solid #555;
}

.button-container{
    width: 25%;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container:hover {
    background-color: #45a049;
}

#formTitle {
    float: inherit;
    margin-bottom: 20px;
}

.gotoHome {
    size: auto;
    border: none;
    margin-left: 2%;
    padding: 10px 15px;
    position: absolute;
    top: 5%;
    left: 1%;
    float: left;
}
.gotoHome:hover {
    background-color: #939393;
}


